body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    /*padding: 50px 250px 50px 250px;*/
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
    background-color: aqua;
    /*padding: 20px;*/
}

footer {
    background-color: chocolate;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    background-color: cadetblue;

}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 40px;
}

th {
    border: 3px black solid;
    text-align: center;
}

table, td {
    border: 1px black solid;
    text-align: center;
}

/* self created classes */

.info {
    display: block;
    padding: 10px 0px 10px 0px;
    width: 50%;
}

.skills {
    padding: 0px 10px 5px 0px;    
}

.beginner {
    font-weight: bold;
    color: green;
}

.moderate {
    font-weight: bold;
    color: blue;
}

.explaination {
    display: block;
    border: 5px black solid;
    padding: 5px;
}